#login_container{
  color: #0c0c14;
  font-family: 'Raleway', sans-serif;
  bottom: 40px;
}
/* ==================for phone================ */
@media only screen and (max-width: 600px) {
#login_container{
  bottom: 0px;
}
}