.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* or repeat(3,1fr) */
    gap: 3rem;
    font-family: 'Raleway', sans-serif;
  }
  .service {
    background: #fff;
    margin: 30px;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid #5858c2;
    height: fit-content;
    transition: var(--transition);
  }
  
  
  .services__head {
    background:  #1D4ED8;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .services__head h3 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
  .price{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .services__list {
    padding: 2rem;
  }
  
  .services__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }
  
  .service__list-icon {
    color: var(--color-primary);
    margin-top: 5px;
    font-size: 1.3rem;
  }
  
  .services__list p {
    font-size: 0.9rem;
  }
  .button_btn{
    text-align: center;
    margin-bottom: 20px;
  }
  .button__btn{
    background: #1e3a8a;
    border-radius: 7px;
    color: #fff;
    padding: 6px 50px;
    transition: 0.7s;
  }
  .button__btn:hover{
    background: #1D4ED8;

  }
  /* ======media queries for tablets(medium devices) =========*/
  
  @media screen and (max-width: 1024px) {
    .services__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .service {
      height: auto;
    }
  }
  
  /* ======media queries for mobile(small devices) =========*/
  
  @media screen and (max-width: 600px) {
    .services__container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  :root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
  
    --transition: all 400ms ease;
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }