.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* or repeat(3,1fr) */
    gap: 3rem;
    font-family: 'Raleway', sans-serif;
  }
  .service {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid #5858c2;
    height: fit-content;
  }
  
  
  .services__head {
    background:  #1D4ED8;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .services__head h3 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
  .price{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .services__list {
    padding: 2rem;
  }
  
  .services__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }
  
  .service__list-icon {
    color: #4db5ff;
    margin-top: -3px;
    font-size: 1.3rem;
  }
  
  .services__list p {
    font-size: 0.9rem;
  }
  .button_btn{
    text-align: center;
    margin-bottom: 20px;
  }
  .button__btn{
    background: #1e3a8a;
    border-radius: 10px;
    color: #fff;
    padding: 7px 70px;
    transition: 0.7s;
  }
  .button__btn:hover{
    background: #1D4ED8;

  }
  /* ======media queries for tablets(medium devices) =========*/
  
  @media screen and (max-width: 1024px) {
    .services__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .service {
      height: auto;
    }
  }
  
  /* ======media queries for mobile(small devices) =========*/
  
  @media screen and (max-width: 600px) {
    .services__container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

