body{
    overflow-x: hidden;
}
.movies--container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}
.mainBg_Color{
    background-color:#0c0c14;
    width: 100%;
}
.secondaryBgColor{
    background-color: #fff;
    width: 100%;
}
.movies--container img{
    cursor: pointer;
    width: 310px;
    height: 510px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
    opacity: 0.40;
}
.movies--container img:hover{
    opacity: 1;
}
.mainColor{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
#Nothing{
    display: none;
}
.secondaryColor{
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.movies--container h5, .movies--container img{
    cursor: pointer;
    transition: .7s;
}
.movies--container h5{
    width: 100%;
    margin: 10px;
}
.movies--container img:hover{
    transform: scale(1.04);
}
#container{
    position: relative;
}
#hide{
    display: none;
}
#smaller-Text{
    width: 65%;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
#play_Icon{
    position: absolute;
    bottom: 60px;
    left: 40px;
    visibility: visible;
    z-index: 0.99;
    cursor: pointer;
}
#Exit1{
    position: fixed;
    margin-left: 900px;
    margin-top: 67px;
    z-index: 1000;
}
.Exite1{
    display: none;
}
#Nothing{
    color: green;
}
#No_Container{
    opacity: 0.80;
}
.DarkTheme{
    color:#fff;
}
.LightThemeClose{
    color: #ff206e;
}
@media screen and (max-width: 1024px) {
    .movies--container{
        grid-template-columns: repeat(3, 1fr);
    }
  .movies--container img{
    width: 240px;
    height: 340px;
  }
} 
 @media screen and (max-width: 600px) {
    .movies--container{
        grid-template-columns: repeat(2, 1fr);
    }
  .movies--container img{
    width: 170px;
    height: 260px;
  }
  #Exit1{
    margin-left: 200px;
  }
} 